/* -----------------------DEFALUT------------------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #111;
}

main img {
	transition: all .3s ease;
}

main img:hover {
	transform: scale(1.05);
}

/* ----------------------- END DEFALUT------------------------- */

/* ---------------------------- PRELOAD --------------------------- */
.preloading {
	overflow: hidden;
}

.preload-container {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	z-index: 99999999999;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.spinner-border {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

/* ----------------------- HEADER ------------------------- */
#header {
	border-bottom: 6px solid #f47723;
}

.header {
	background: url(../themes/assets/images/bg/bg-header.png);
	background-size: cover;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: black;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

#nav {
	margin-left: 0px;
}

#menu,
#menu-1 {
	font-weight: 700;
	color: #000000;
	font-style: normal;
}

#menu:hover,
#menu-1:hover {
	color: #f47723;
	cursor: pointer;
}

#menu:last-child a {
	background: none;
	border: none;
	color: #111;
	text-decoration: none;
}

#menu:last-child:hover a {
	color: #f47723;
}

#menu-2 a {
	background: none;
	border: none;
	color: #fff;
	text-decoration: none;
}

#menu-2:hover a {
	color: #f47723;
}

.active {
	cursor: pointer;
	background-color: #495057;
}

.active span {
	color: #fff;
}

#nav div {
	padding: 15px;
}

#sub-menu,
#sub-menu-1 {
	background-color: #495057;
	height: 0;
	display: flex;
	overflow: hidden;
	position: relative;
	margin: 0px -15px;
	-webkit-transition: height 0.2s ease;
	-o-transition: height 0.2s ease;
	transition: height 0.2s ease;
}

.show-1 {
	background-color: #555;
	margin: 0px -15px;
	overflow: visible;
	display: flex !important;
	position: relative;
	z-index: 111;
	height: 60px !important;
	-webkit-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
	transition: height 0.5s ease;
}

.show {
	background-color: #555;
	margin: 0px -15px;
	overflow: visible;
	display: flex !important;
	position: relative;
	z-index: 111;
	height: 52px !important;
	-webkit-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
	transition: height 0.5s ease;
}

.sub-menu div,
.sub-menu-1 div {
	padding: 15px 20px;
}

#sub-menu a {
	color: #fff;
	text-decoration: none;
	padding: 0px 24px;
	display: block;
}

#sub-menu-1 a {
	color: #fff;
	padding: 0px 24px;
	text-decoration: none;
	display: block;
}

#sub-menu-1 a:hover {
	color: #f47723;
}

#sub-menu a:hover {
	color: #f47723;
}

.sub-menu-item {
	border-right: 1px solid #716f70;
	font-size: 16px;
	cursor: pointer;
	white-space: nowrap;
}

.sub-menu-item:last-child {
	border-right: none;
}

/* HEADER FOR MOBILE*/
.menu-mobile {
	overflow: scroll;
	position: fixed;
	top: 0;
	height: 100vh;
	right: 0;
	width: 100vw;
	z-index: 100000;
	transform: translateX(100vw);
	transition: transform 400ms ease-in-out;
	background: #111;
}

.icon-close {
	position: relative;
	height: 25px;
	margin: 20px 0;
}

.nav-toggle:checked~.menu-mobile {
	transform: translateX(0);
}

.nav-toggle-label-close {
	position: absolute;
	right: 40px;
}

.nav-toggle-label-close span {
	display: block;
	position: relative;
}

.nav-toggle-label-close span::before,
.nav-toggle-label-close span::after {
	background: #fff;
	height: 3px;
	width: 2em;
}

.nav-toggle-label-close span::before,
.nav-toggle-label-close span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label-close span::before {
	transform: rotate(45deg);
}

.nav-toggle-label-close span::after {
	transform: rotate(-45deg);
}

.mobile-nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.sub-menu-mobile {
	padding: 0px 20px;
	display: none;
}

.sub-menu-mobile li {
	padding: 10px;
}

.item-menu {
	padding: 10px 0px;
}

.sub-menu-mobile li:first-child {
	padding-top: 20px;
}

.sub-menu-mobile li:last-child {
	padding-bottom: 0px;
}

.sub-menu-mobile a {
	font-weight: normal;
	text-transform: none;
}

.icon-right:before {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	line-height: 20px;
	color: #fff;
	right: 28px;
	font-size: 28px;
	font-weight: 400;
}

.icon-up:before {
	content: "\f106";
	font-family: FontAwesome;
	position: absolute;
	line-height: 20px;
	color: #fff;
	right: -23px;
	top: 2px;
	font-size: 28px;
	cursor: pointer;
}

.icon-down:before {
	content: "\f107" !important;
	color: #fff;
	font-family: FontAwesome;
	position: absolute;
	line-height: 20px;
	right: 28px;
	font-size: 28px;
	font-weight: 400;
}

#language {
	color: white;
	text-align: right;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

#language a {
	text-decoration: none;
}

#language span:hover {
	color: #f9b613;
}

#language span {
	padding: 0px 8px;
	color: #111;
}

.en {
	border-left: 1px solid #111;
	padding-right: 0px !important;
}

#phone-number {
	color: #111;
	padding-top: 10px;
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}

#phone-number span {
	color: #f47723;
}

#div-menu {
	padding-top: 4px;
}

a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

#logo {
	padding: 15px;
}

/* ----------------------- END HEADER ------------------------- */

/* ----------------------- FOOTER ------------------------- */
#main-footer {
	background: #111;
	margin: 0;
	color: #fff;
	border-top: 6px solid #f47723;
	position: relative;
}

#footer {
	border: 1px solid #e1e1e1;
	border-bottom: none;
}

.footer-top {
	font-size: 14px;
	padding: 40px 20px 20px 20px;
}

#footer-image {
	width: 134px;
	height: 110px;
}

.social-content {
	display: flex;
	justify-content: flex-end;
}

.social-content .linkedin,
.social-content .twitter {
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #3A3939;
	border-radius: 50%;
	transition: all .3s ease;
}

.social-content .linkedin:hover,
.social-content .twitter:hover {
	color: #f47723;
}

.social-content .contact {
	background: #f47723;
	width: 150px;
	color: #fff;
	font-size: 1em;
	text-align: center;
	padding: 8px 0;
	font-weight: bolder;
}

.contact1 {
	background: #f47723;
	width: 150px;
	color: #fff;
	font-size: 1em;
	text-align: center;
	padding: 8px 0;
	font-weight: bolder;
	cursor: pointer;
	display: inline-block;
}

.contact1:hover {
	background-color: #f9b613;
	text-decoration: none;
	color: #fff;
}

a.linkedin:hover,
a.twitter:hover {
	background-position: -40px 0;
}

a.contact:hover {
	background-color: #f9b613;
}

.social-content a {
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 39px;
	margin-left: 5px;
	text-decoration: none;
	width: 40px;
	zoom: 1;
}

#copyright {
	color: white;
	text-align: right;
}

#footer-menu {
	display: flex;
	justify-content: flex-end;
}

#footer-menu a {
	color: white;
}

#footer-menu a:hover {
	color: #f47723;
}

.footer-menu {
	list-style: none;
}

.footer-menu li {
	display: inline-block;
	padding: 0 5px;
	position: relative;
}

.footer-menu li a {
	color: #fff;
}

.footer-menu li a span::before {
	content: "";
	position: absolute;
	width: 1px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -2px;
	height: 15px;
	background-color: #fff;
}

/* ----------------------- END FOOTER ------------------------- */

/* ----------------------- PAGE ------------------------- */
#page {
	background: #fff;
	border: solid #e1e1e1;
	border-width: 0 1px;
	width: 100%;
	padding-bottom: 20px;
}

.url {
	background: #f2f2f2;
	font-size: 12px;
	color: #5b5b5b;
}

.url span {
	color: #111;
}

/* ----------------------------- HOME PAGE ---------------------------- */
#slider {
	border-bottom: 4px solid #f47723;
}

.carousel-inner img:hover {
	transform: scale(1);
}

.carousel.carousel-fade .carousel-item {
	display: block;
	opacity: 0;
	transition: opacity ease-out 1s;
}

.carousel.carousel-fade .carousel-item.active {
	opacity: 1 !important;
}

#intro {
	padding-bottom: 0;
}

.title-intro {
	font-size: 32px;
	color: #f47723;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

#hr {
	text-align: center;
	background: url(../themes/assets/images/ico/sombrasep.png) no-repeat;
	min-height: 50px !important;
	background-position-y: center;
}

.a-custom {
	background: #f47723;
	color: #fff;
	font-size: 16px;
	margin: 0 auto;
	width: 230px;
	display: block;
	padding: 11px 30px;
}

.a-custom:hover {
	background-color: #f9b613;
	text-decoration: none;
	color: #fff;
}

#intro p {
	margin: 30px 0;
	font-size: 18px;
}

#intro h2 a {
	font-size: 24px;
	text-decoration: none;
	color: #111;
	transition: all 0.2s ease;
}

#intro h2 a:hover {
	color: #f47723;
}

#intro h1 {
	margin-bottom: 30px;
}

#logo-list {
	border: 1px solid #e1e1e1;
	border-bottom: none;
	padding: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

#page-header {
	font-size: 30px;
	font-weight: 400;
	padding: 20px;
}

.header-content {
	padding-top: 24px;
	padding-bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
	opacity: 0;
}

#list-manager>li::before {
	content: "• ";
	color: #111;
	font-size: 18px;
}

.inergyams20-benefits {
	background-color: #fff;
}

#benefits h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #f47723;
}

/* -------------------------- BENEFIT PAGE ------------------------------- */
.desc-benefit h4 {
	color: #111;
}

/* -------------------------------- WHO IS IT FOR PAGE ----------------------------------------- */
#content div {
	padding: 10px 0px;
	margin: 10px 1px;
	width: 180px;
	text-align: center;
	border: 1px solid#C4C4C4;
}

#content div a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

#content div a:hover {
	color: #f47723;
}

#content .active {
	background: none !important;
}

#content .active a {
	color: #f47723 !important;
}

#request-btn {
	background: #f47723 url(../themes/assets/images/ico/arrow-demo.png) no-repeat right center;
	border-radius: 0;
	color: #fff;
	padding-right: 25px;
	padding-bottom: 10px;
}

#request-btn:hover {
	background: #f9b613 url(../themes/assets/images/ico/arrow-demo.png) no-repeat right center;
}

.div-function {
	padding: 35px;
}

.div-function h3 {
	font-size: 24px;
	color: #111;
	font-weight: normal;
}

.p-special {
	background-color: #fafafa;
	font-size: 14px;
	margin-left: 10px;
	margin-right: -50px;
}

.title-2 {
	font-size: 24px;
	color: #111;
	min-height: 70px;
}

.catalog-ami {
	height: 700px;
}

.btn-submit {
	background-color: #f47723;
	color: #fff;
	font-weight: 500;
	border-radius: 1px;
}

.btn-submit:hover {
	background-color: #f9b613 !important;
	color: #fff;
}

/* --------------------------------- FAQ PAGE ------------------------------------- */

.question {
	background: url(../themes/assets/images/ico/flechaplegado.png) no-repeat left 17px;
	cursor: pointer;
}

.question.last {
	border: none !important;
}

.question:hover {
	background: url(../themes/assets/images/ico/flechadesplegado.png) no-repeat left 17px;
}

.question.active {
	background: url(../themes/assets/images/ico/flechadesplegado.png) no-repeat left 17px;
}

.question span {
	margin: 0;
	padding: 10px 0 10px 30px;
	display: block;
	font-size: 1.15em;
	font-weight: normal;
	color: #f47723;
	line-height: 1.5;
	text-align: justify;
}

.answer {
	background-color: #f3f3f3;
	padding-left: 20px;
	border-top: 1px solid #e9e9e9;
	padding-right: 20px;
	text-align: justify;
	overflow: hidden;
	height: 0;
	transition: all 0.2s ease-out;
}

.answer.last {
	border-top: 0px solid #e9e9e9;
}

.answer p {
	margin: 0;
}

.answer p a {
	color: #f47723;
}

.show-answer {
	border-top: 1px solid #e9e9e9 !important;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
	padding: 20px;
	height: auto;
	transition: all 0.2s ease-out;
}

/* ------------------------------- BACK TO TOP ------------------------------------- */

.back-to-top {
	position: fixed;
	bottom: 10%;
	display: none;
	right: 50px;
}

.back-to-top:hover .icon-up:before {
	color: #111;
}

.back-to-top::before {
	content: "";
	position: absolute;
	padding: 14px;
	background-color: #f47723;
}

/* ------------------------------- RESPONSIVE ------------------------------- */

@media (min-width: 1200px) {
	.description {
		min-height: 130px !important;
	}
}

@media (max-width: 576px) {
	.contact1 {
		width: 100px;
	}

	#first-contact {
		text-align: right;
	}

	#nav div {
		padding: 8px;
		font-size: 15px;
	}

	#benefits .row {
		margin-right: 0;
	}

	#nav #menu,
	#menu-1,
	#menu-2,
	#menu-3 {
		margin: 0px;
	}

	#nav {
		padding-right: 10px;
		padding-left: 10px;
	}

	.title-intro {
		padding: 0 !important;
	}

	.container {
		padding: 0;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}

	.iframe-video {
		height: 400px;
	}
}

@media (min-width: 1200px) {
	.iframe-video iframe {
		padding: 0 144px;
	}
}

@media (max-width: 768px) {
	#content {
		display: flex;
		justify-content: center;
	}

	.inergyams20-benefits {
		text-align: center;
	}

	/* 
    #description {
        min-height: auto !important;
    } */

	.p-special {
		margin-right: 0px !important;
	}

	.inergyams20-benefits p {
		text-align: justify;
	}

	.div-function {
		padding: 3px !important;
	}
}

@media (max-width: 300px) {
	.title-intro {
		text-align: start !important;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	.menu-mobile {
		width: 70%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.description {
		min-height: 220px !important;
	}

	.title-2 {
		min-height: 130px;
	}

	.p-special {
		margin-right: -20px !important;
	}
}

@media only screen and (min-width: 576px) and (max-width: 346px) {
	#first-contact {
		text-align: right;
	}
}